<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>오더링</title>
</head>
<body>
    <img th:src="@{/images/ordering.png}"
         src="../static/images/ordering.png"
         class="img-fluid fixed-top m-0 m-auto" alt="..." style="top: 10%">

    <button class="btn btn-primary w-75 fixed-bottom m-0 mb-1 m-auto p-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">다운로드</button>

    <div class="offcanvas offcanvas-bottom w-100 h-auto" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel" style="border-radius: 10px">
        <button type="button" class="btn btn-outline-secondary w-100" onclick="location.href='https://drive.google.com/file/d/1aJDDYLDNKosCcNWFafHlgusE8qjxpDGB/view?usp=sharing'">
            <img th:src="@{/images/apk_icon.png}" src="../static/images/apk_icon.png" class="img-fluid m-0 p-0" alt="apk-file">
            <span style="font-size: 25px">점주용앱 apk</span>
        </button>
        <button type="button" class="btn btn-outline-secondary w-100" onclick="location.href='https://drive.google.com/file/d/1btxH0PfvyVjan33bSzW_ubQYyH9SOBVS/view?usp=sharing'">
            <img th:src="@{/images/apk_icon.png}" src="../static/images/apk_icon.png" class="img-fluid m-0 p-0" alt="apk-file">
            <span style="font-size: 25px">고객용앱 apk</span>
        </button>
    </div>
    <!--Bootstrap Bundle with Popper-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>